<!DOCTYPE HTML>
{% extends "base.html" %}
{% load static %}

{% block body %}
  <div class="row min-vh-100 align-items-center p-md-5 present">
    <!--      <div id="plotting"></div>     -->
    <form method = "GET">
        {{ form }}
        <input type = "submit" value = "Submit">
    </form>
    {% for plot in  plots%}
      <div class="col-md-6 p-2 bd-highlight">
        <canvas id="{{plot.3}}-{{plot.2}}"></canvas>
      </div>
    {% endfor %}
  </div>
{% endblock %}


{% block javascript %}

<script>
{% for plot in  plots%}
  var plot_canvas = document.getElementById('{{plot.3}}-{{plot.2}}');
  var myChart = new Chart(plot_canvas, {
      type: 'line',
      data: {
          labels: {{plot.0|safe}},
          datasets: [{
              label: '{{plot.2}}',
              data: {{plot.1}},
              borderColor: [
                  'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 1,
              pointRadius: 0.1,
              pointHoverRadius: 4,
              tension: .1
          }]
      },
      options: {
          plugins: {
              title: {
                  display: true,
                  text: '{{plot.3}}'
              }
          },
          scales: {
              x: {
                  type: 'time',
                  time: {
                      // unit: 'minute',
                      minUnit: 'minute'
                  },
                  ticks: {
                      autoSkip: true,
                      maxTicksLimit: 15
                  },
              }
          },
          // responsive: true,
          // maintainAspectRatio: false
      }
  });
{% endfor %}

</script>

{% endblock %}
